@model InventoryManagementWeb.Models.Product;

<html>
<head>
    <title>Detail Product</title>
</head>
<body>
    <h1>Detail Product</h1>
    <p>Category Id: @Model.Name</p>
    <p>Category Name : @Model.StockLevel</p>
</body>
</html>